body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

#login {
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#chatBox {
  height: 70vh;
  overflow-y: auto;
  padding: 10px;
}

.message {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.left {
  background: #1e293b;
  align-self: flex-start;
}

.right {
  background: #2563eb;
  margin-left: auto;
}

#bottomBar {
  display: flex;
  gap: 5px;
  padding: 10px;
}
