body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

#chatBox {
  height: 300px;
  overflow-y: auto;
  background: #222;
  margin: 10px;
  padding: 10px;
}